<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to lists_path , class: "navbar-brand" do %>
      <%= image_tag "https://img.icons8.com/ios-filled/50/000000/film-reel--v1.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "My lists", lists_path , class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "New list", new_list_path , class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Action", "#", class: "dropdown-item" %>
            <%= link_to "Another action", "#", class: "dropdown-item" %>
          </div>
          </li>
      </ul>
    </div>
  </div>
</div>

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1536440136628-849c177e76a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1325&q=80);">
  <div class="banner-text">
    <h1>Make your own movie list</h1>
    <p>Sort your movies into categories</p>
  </div>
</div>

<div class="container">
  <h3>My lists</h3>
  <div class="cards">
    <% @lists.each do |l| %>
      <div class="card-category" id="white-text" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path(l.photo.key) if l.photo.attached? %>)">
        <%= link_to l.name, list_path(l.id), :style=>'color: white' %>
      </div>
      <% end %>
  </div>
</div>
