<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80;">
  <div class="container">
    <h1>Add a new list</h1>
  </div>
</div>

<div class="container new-lists">
  <%= simple_form_for [ @list ] do |f| %>
    <%= f.input :name, label: "Name:"%>
    <%= f.input :photo, label: "Photo:"%>
    <%= f.submit "Add a list", class: "btn btn-secondary" %>
  <% end %>
</div>

<%= render 'shared/footer' %>
